<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhmarryme.demo.mapper.system.log.OperationLogMapper" >
  <resultMap id="BaseResultMap" type="com.jhmarryme.demo.pojo.model.system.log.OperationLog" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="oper_id" property="operId" jdbcType="VARCHAR" />
    <result column="oper_module" property="operModule" jdbcType="VARCHAR" />
    <result column="oper_type" property="operType" jdbcType="VARCHAR" />
    <result column="oper_desc" property="operDesc" jdbcType="VARCHAR" />
    <result column="oper_user_id" property="operUserId" jdbcType="VARCHAR" />
    <result column="oper_username" property="operUsername" jdbcType="VARCHAR" />
    <result column="oper_method" property="operMethod" jdbcType="VARCHAR" />
    <result column="oper_uri" property="operUri" jdbcType="VARCHAR" />
    <result column="oper_ip" property="operIp" jdbcType="VARCHAR" />
    <result column="oper_create_time" property="operCreateTime" jdbcType="TIMESTAMP" />
    <result column="oper_ver" property="operVer" jdbcType="VARCHAR" />
    <result column="oper_req_param" property="operReqParam" jdbcType="LONGVARCHAR" />
    <result column="oper_res_param" property="operResParam" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>